@charset "UTF-8";
body{background-color: rgb(170, 248, 170);}

h1{color: rgb(4, 43, 4);}
h1.principal{
text-align: center;
color: white;
background-color: rgb(63, 168, 63);
}
h1.principal{
    text-align: center;
    }

h2{
color: rgba(2, 56, 0, 0.87);
}
.basico{
color: #3c805e;
}

.intermediario{
    color: #7b803c;
}

.avançado{
    color: #80443c;
}
.destaque{
background-color: #c5c56070;
}